:root {
    --headerHeigth: 78px;
    --offcanvasTopHeigth: 30vh;
    --offcanvasRightWidth: 400px;
    --offcanvasLeftWidth: 400px;
}

h5 {
    text-align: center;
    margin-top: 2rem;
    color: steelblue;
}

.tabulator .tabulator-header .tabulator-col,
.tabulator-row .tabulator-cell {
    border-right: 1px solid #ddd;
}

.tabulator-frozen-rows-holder>:nth-child(1) {
    background: #f9fafb;
    border-top: 1px solid #ddd;
}

.tabulator-row.tabulator-row-even {
    background-color: #f4faff;
}

.tabulator-row.tabulator-selectable:hover {
    background: #e2efff !important;
    color: rgba(0, 0, 0, .87) !important;
}

.nav-link {
    color: #495057;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app-page {
    position: relative;
    overflow: auto;
    /* flex: 1; */
    height: calc(100vh - var(--headerHeigth));
}

.nav-link.active {
    color: #0d6efd !important;
}

.navbar {
    /* height: var(--headerHeigth); */
    z-index: 1058;
}

/************************LEFT****************************/
.offcanvas.show>button[data-type="sidebar"] {
    background-color: rgb(240, 240, 240)
}

.btn-outline-start {
    position: absolute;
    visibility: visible;
    width: 20px;
    height: 100px;
    left: 100%;
    padding: 0;
    border: 1px solid #bfbfbf;
    transform: translateY(-50%);
    top: 50vh;
}
.btn-outline-start::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F234';
    font-family: 'bootstrap-icons';
}

.offcanvas.show>button.btn-outline-start::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F230';
    font-family: 'bootstrap-icons';
}

.offcanvas-start {
    top: var(--headerHeigth);
    width: var(--offcanvasLeftWidth);
}

/************************RIGHT****************************/
.btn-outline-end {
    position: absolute;
    visibility: visible;
    width: 20px;
    height: 100px;
    right: 100%;
    padding: 0;
    border: 1px solid #bfbfbf;
    top: 50vh;
    transform: translateY(-50%);
}

.btn-outline-end::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F230';
    font-family: 'bootstrap-icons';
}

.offcanvas.show>button.btn-outline-end::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F234';
    font-family: 'bootstrap-icons';
}

.offcanvas-end {
    top: var(--headerHeigth);
    width: var(--offcanvasRightWidth);
}

/*************************TOP*****************************/
.btn-outline-top {
    position: absolute;
    visibility: visible;
    width: 100px;
    height: 20px;
    bottom: -20px;
    left: 50vw;
    transform: translateX(-50%);
    padding: 0;
    border: 1px solid #bfbfbf;
}

.btn-outline-top::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F22C';
    font-family: 'bootstrap-icons';
}

.offcanvas.show>button.btn-outline-top::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F238';
    font-family: 'bootstrap-icons';
}

/*************************Bottom*****************************/
.btn-outline-bottom {
    position: absolute;
    visibility: visible;
    width: 100px;
    height: 20px;
    top: -20px;
    left: 50vw;
    transform: translateX(-50%);
    padding: 0;
    border: 1px solid #bfbfbf;
}

.btn-outline-bottom::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F238';
    font-family: 'bootstrap-icons';
}

.offcanvas.show>button.btn-outline-bottom::before {
    font: normal normal normal 14px / 1 FontAwesome;
    content: '\F22C';
    font-family: 'bootstrap-icons';
}
.navbar {
    padding-top: 0;
}
.navbar-expand {
    padding-bottom: 0;
}
.offcanvas-top {
    top: var(--headerHeigth);
}