:root{
    --headerHeigth: 78px;
    --offcanvasTopHeigth: 30vh;
    --offcanvasRightWidth: 400px;
    --offcanvasLeftWidth: 400px;
}

/* Изменил стандортаное позиционирование bootstrap'a чтоб панельни рисовались относительно родителя*/
/* .offcanvas {
    position: absolute;
} */

h5 {
    text-align: center;
    margin-top: 2rem;
    color: steelblue;
}

.tabulator .tabulator-header .tabulator-col,
.tabulator-row .tabulator-cell {
    border-right: 1px solid #ddd;
}

.tabulator-frozen-rows-holder>:nth-child(1) {
    background: #f9fafb;
    border-top: 1px solid #ddd;
}

.tabulator-row.tabulator-row-even {
    background-color: #f4faff;
}

.tabulator-row.tabulator-selectable:hover {
    background: #e2efff !important;
    color: rgba(0, 0, 0, .87) !important;
}

.nav-link {
    color: #495057 ;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.app-page{
    position: relative;
    overflow: auto;
    /* flex: 1; */
    height: calc(100vh - var(--headerHeigth));
}
.nav-link.active {
    color: #0d6efd !important;
}
.navbar{
    /* height: var(--headerHeigth); */
    z-index: 1058;
}
/************************LEFT****************************/
.offcanvas.show>button[data-type="sidebar"]{
    background-color: rgb(240, 240, 240)
}

.btn-outline-start {
    position: absolute;
    visibility: visible;
    width: 20px;
    height: 100px;
    left: 100%;
    padding: 0;
    border: 1px solid #bfbfbf;
    transform: translateY(-50%);
    top: 50vh;
    background: url(../svg/caret-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.offcanvas.show>button.btn-outline-start {
    background: url(../svg/caret-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(240, 240, 240);
}
.offcanvas-start {
    /* height: calc(100vh - var(--headerHeigth)); */
    top: var(--headerHeigth);
    width: var(--offcanvasLeftWidth);
}
/************************RIGHT****************************/
.btn-outline-end {
    position: absolute;
    visibility: visible;
    width: 20px;
    height: 100px;
    right: 100%;
    padding: 0;
    border: 1px solid #bfbfbf;
    top: 50vh;
    transform: translateY(-50%);
    background: url(../svg/caret-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.offcanvas.show>button.btn-outline-end{
        background: url(../svg/caret-right.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(240, 240, 240);
}
.offcanvas-end {
    top: var(--headerHeigth);
    width: var(--offcanvasRightWidth);

}
/*************************TOP*****************************/
.btn-outline-top {
    position: absolute;
    visibility: visible;
    width: 100px;
    height: 20px;
    bottom: -20px;
    left: 50vw;
    transform: translateX(-50%);
    padding: 0;
    border: 1px solid #bfbfbf;
    background: url(../svg/caret-down.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offcanvas.show>button.btn-outline-top{
    background: url(../svg/caret-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(240, 240, 240);
}
/*************************Bottom*****************************/
.btn-outline-bottom {
    position: absolute;
    visibility: visible;
    width: 100px;
    height: 20px;
    top: -20px;
    left: 50vw;
    transform: translateX(-50%);
    padding: 0;
    border: 1px solid #bfbfbf;
    background: url(../svg/caret-up.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.offcanvas.show>button.btn-outline-bottom{
    background: url(../svg/caret-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(240, 240, 240)
}
/* .btn-outline-bottom-toggle {
    background: url(../svg/caret-down.svg);
    background-repeat: no-repeat;
    background-position: center;
} */
.navbar{
    padding-top: 0;
  }
.offcanvas-top {
    top: var(--headerHeigth);
}

